<% title t('users.titles.new') %>

<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :login, t('activerecord.attributes.user.login') %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :email, t('activerecord.attributes.user.email') %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit t('users.actions.signup') %>
  </p>
<% end %>