<% title t('user_sessions.titles.new') %>

<fieldset>
  <legend><%= t('user_sessions.login_toggle', :token => login_toggle) %></legend>

<%= error_messages_for :user_session, :object_name => UserSession.human_name %>

<% semantic_form_for @user_session, :url => user_session_path do |f| %>
  <% f.inputs :id => 'password_box', :style => (@user_session.openid_identifier.blank? ? nil : 'display: none;') do %>
    <%= f.input :login %>
    <%= f.input :password %>
    <%= f.input :remember_me, :as => :check_boxes, :collection => [[nil, true]] %>
    <%= f.commit_button :name => nil %>
    <li class="password_reset">
      <%= link_to t('user_sessions.forget_password'), new_password_reset_path %>
    </li>
  <% end %>
<% end %>

<% semantic_form_for @user_session, :url => user_session_path do |f| %>
  <% f.inputs :id => 'openid_box', :style => (@user_session.openid_identifier.blank? ? 'display: none;' : nil) do %>
    <%= f.input :openid_identifier, :label => openid_link %>
    <%= f.input :remember_me, :as => :check_boxes, :collection => [[nil, true]] %>
    <%= f.commit_button :name => nil %>
  <% end %>
<% end %>

</fieldset>
