<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%=h yield(:title) || t('common.titles.untitled') %></title>
  <%# stylesheet_link_tag :all, :recursive => true, :cache => true %>
  <%# stylesheet_link_tag 'reset', 'application', :cache => true %>
  <%= stylesheet_link_tag 'formtastic', 'formtastic_changes', :media => 'screen, projection', :cache => true %>
  <style type="text/css">
    #user_pannel, #locale_pannel, #locale_pannel form {display: inline}
  </style>
  <%= yield :head %>
</head>
<!--[if lt IE 7]><body class="ie6"><![endif]-->
<!--[if gte IE 7]><body class="ie"><![endif]-->
<!--[if !IE]>--><body><!--<![endif]-->
  <div id="container">
    <%= render :partial => 'users/pannel' %>
    
    <hr class="clear" />
    
    <%- flash.each do |name, msg| -%>
      <%= content_tag :p, msg, :id => "flash_#{name}", :class => name %>
    <%- end -%>
    
    <%- if show_title? -%>
      <h1><%=h yield(:title) %></h1>
    <%- end -%>
    
    <%= yield %>
  </div>
<%= javascript_include_tag :defaults, :cache => true %>
<%= yield :foot %>
</body>
</html>
